* {
    background-color: rgb(228, 183, 183);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    text-align: center;
}

div {
    border:5px solid black;
    margin: 0px 100px;
    background-color: white;
}

ul {
    border: 2px solid black;
    list-style-type: none;
    margin:0;
    padding:10px;
    background-color: white;
}

li {
    background-color: white;
}

ol {
    border: 2px solid black;
    margin:0px;
    padding:10px 30px;
    background-color: white;
}

a {
    font-weight: bold;
    text-decoration:none;
    background-color: white;

}
a:link {
    color:red;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
a:visited {
    color:rgb(68, 65, 100);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a:hover {
    text-decoration: underline;
}

img {
    display: block;
    border: 2px solid rgb(46, 46, 46);
    margin: auto;
}

.tabletext {
    background-color: white;
}

.tilt {
    background-color: white;
}

.return {
    background-color: rgb(228, 183, 183);
}